body {
  font-family: "Montserrat Light";
  margin: 0;
}

body::-webkit-scrollbar {
  width: 1em;
  background-color: #ffffff;
}

body::-webkit-scrollbar-thumb {
  background-color: #ff8000;
  height: 1rem;
}

h1 {
  font-family: "Montserrat";
  font-weight: bold;
  margin-left: 10px;
}

h2 {
  font-family: "Newsreader";
}
